:root {
    --backgroundColour: #221F2D;
    --backgroundColourSecondary: #242130;
    --contentBackgroundColour: #353549;
    --textColour: #fff;
    --textColourSecondary: #f2f2f2;
    --headerFont: 'roboto', helvetica, arial;
    --bodyFont: 'roboto', helvetica, arial;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Columns */

.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

.app {
    min-height: 100vh;
    background: linear-gradient( -45deg, var(--backgroundColour) 0%, var(--backgroundColour) 50%, var(--backgroundColourSecondary) 50%, var(--backgroundColourSecondary) 100%);
    color: var(--textColour);
    font-family: var(--bodyFont);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    display: grid;
    margin: 100px auto;
    grid-template-columns: auto minMax(600px, 1000px) auto;
}

.header {
    width: 100%;
    background: var(--contentBackgroundColour);
}

.app-title {
    font-size: 3rem;
    font-family: var(--headerFont);
    font-weight: 300;
    margin-left: 0;
}

label {
    display: block;
    margin-top: 2em;
    text-align: left;
}

input {
    display: block;
    background: transparent;
    font-size: 1rem;
    border: solid 1.5px #fff;
    border-radius: 5px;
    line-height: 1.5;
    padding: 0.5em 1em;
    color: var(--textColourSecondary);
    font-weight: 300;
    margin-top: 2em;
    width: 100%;
}

input.valid {
    border: solid 1.5px #82DDA9;
}

input.invalid {
    border: solid 1.5px rgb(255, 102, 68);
}

.btn {
    display: inline-block;
    color: var(--contentBackgroundColour);
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.5em 1em 0.4em;
    background: #fff;
    border: solid 1.5px #fff;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn {
    margin-top: 0.5em;
    border-radius: 5px;
}

.delete-btn {
    position: absolute;
    top: -5px;
    border-radius: 2px;
    right: -10px;
    padding: 0 0.5em;
    background: #fff;
    border: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
    -webkit-box-shadow: 0 2px 6px var(--backgroundColour), 0 1px 3px var(--backgroundColour);
    box-shadow: 0 2px 6px var(--backgroundColour), 0 1px 3px var(--backgroundColour)
}

.colour:hover .delete-btn {
    opacity: 1;
    pointer-events: auto;
}

h2 {
    font-weight: 300;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.colour-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 150px));
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    position: relative;
}

.content-col {
    position: relative;
}

.colour {
    position: relative;
    text-align: left;
    background: var(--contentBackgroundColour);
}

.colours {
    margin-left: 2.5rem;
}

.colour__swatch {
    height: 140px;
}

.add-colour {
    padding: 1.5em;
    background: var(--contentBackgroundColour);
    width: 300px;
    overflow: hidden;
    margin-top: 120px;
    -webkit-transition: all 0.225s ease-in-out;
    transition: all 0.225s ease-in-out;
    max-height: 200px;
    h2 {
        margin: 0;
    }
}

.expanded {
    max-height: 330px;
    -webkit-animation: dropdown 0.225s ease-out;
    animation: dropdown 0.225s ease-out;
}

@-webkit-keyframes dropdown {
    0% {
        max-height: 200px;
    }
    60% {
        max-height: 350px;
    }
    100% {
        max-height: 320px;
    }
}

@keyframes dropdown {
    0% {
        max-height: 200px;
    }
    60% {
        max-height: 350px;
    }
    100% {
        max-height: 320px;
    }
}

.add-colour-input {
    display: inline-block;
}

.colour__details {
    padding: 0.25em 0;
    text-transform: uppercase;
    position: relative;
}

.colour__hex,
.colour__rgb {
    padding: 0.55em 0.5em 0.45em;
    position: relative;
    background: var(--contentBackgroundColour);
    cursor: pointer;
    overflow: hidden;
}

.colour__hex--hover,
.colour__rgb--hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 0.55em 0.5em 0.45em;
    color: var(--contentBackgroundColour);
    background: #fff;
    -webkit-transition: opacity 0.225s;
    transition: opacity 0.225s;
    span {
        -webkit-transition: all 1s;
        transition: all 1s;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        font-weight: 700;
    }
}

.colour__hex:hover .colour__hex--hover,
.colour__rgb:hover .colour__rgb--hover {
    width: 100%;
    opacity: 1;
    span {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.invisible {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.hidden {
    display: none;
}

.mouse-enabled *:focus {
    outline: none;
}

.preview {
    text-transform: uppercase;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    max-height: 0;
    overflow: hidden;
}

.show {
    opacity: 1;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    max-height: 200px;
    height: 200px;
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
}

.preview__details {
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.preview__block {
    margin-top: 2em;
}

.preview__hex,
.preview__rgb {
    padding: 0.2em 0;
}

.colour-add {
    opacity: 0;
    text-align: left;
    width: 100%;
    background: none;
    border: dashed var(--contentBackgroundColour) 1.5px;
    color: var(--contentBackgroundColour);
    font-size: 5rem;
    text-align: center;
    height: 205px;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    &:hover {
        color: var(--textColour);
        border: dashed 1.5px var(--textColour);
    }
}

.colour-list:hover .colour-add {
    opacity: 1;
}

.loader {
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
    height: 16px;
    text-align: center;
    &__dot {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        float: left;
        margin: 0 5px;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation: fx 800ms ease infinite 0ms;
        animation: fx 800ms ease infinite 0ms;
        &:nth-child(2) {
            -webkit-animation: fx 800ms ease infinite 200ms;
            animation: fx 800ms ease infinite 3s;
        }
        &:nth-child(3) {
            -webkit-animation: fx 800ms ease infinite 400ms;
            animation: fx 800ms ease infinite 600ms;
        }
    }
    @-webkit-keyframes fx {
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes fx {
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}