:root {
  --backgroundColour: #221F2D;
  --backgroundColourSecondary: #242130;
  --contentBackgroundColour: #353549;
  --textColour: #fff;
  --textColourSecondary: #f2f2f2;
  --headerFont: 'roboto', helvetica, arial;
  --bodyFont: 'roboto', helvetica, arial;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background: linear-gradient(-45deg, var(--backgroundColour) 0%, var(--backgroundColour) 50%, var(--backgroundColourSecondary) 50%, var(--backgroundColourSecondary) 100%);
  color: var(--textColour);
  font-family: var(--bodyFont);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: grid;
  width: 80%;
  height: 80%;
  margin: auto;
  grid-template-columns: 20% 60% 20%;
}

.app-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 3rem;
  font-family: var(--headerFont);
  font-weight: 300;
  margin-left: 2.5rem;
}

.App-intro {
  font-size: large;
}

label {
  display: block;
  margin-top: 2em;
  text-align: left;
}

input {
  display: block;
  background: transparent;
  font-size: 1rem;
  border: solid 1.5px #fff;
  border-radius: 5px;
  line-height: 1.5;
  padding: 0.5em 1em;
  color: var(--textColourSecondary);
  font-weight: 300;
  margin-top: 1em;
}

input.valid {
  border: solid 1.5px #82DDA9;
}

input.invalid {
  border: solid 1.5px #ff6644;
}

.add-colour-input {
  display: inline-block;
}

.submit-btn {
  display: inline-block;
  color: inherit;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.5em 1em 0.4em;
  border-radius: 5px;
  background: transparent;
  border: solid 1.5px #fff;
  margin-top: 2.5em;
  margin-left: 1em;
  cursor: pointer;
}

h2 {
  font-weight: 300;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colour-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 150px));
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
}

.colour {
  text-align: left;
  background: var(--contentBackgroundColour);
}

.colours {
  margin-left: 2.5rem;
}

.colour__swatch {
  height: 140px;
  margin-bottom: 0.5em;
}

.add-colour {
  padding: 0 1.5em;
  background: var(--contentBackgroundColour);
}

.colour__details {
  padding: 0.5em 0;
  text-transform: uppercase;
}

.colour__hex,
.colour__rgb {
  padding: 0.2em 0.5em;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.mouse-enabled *:focus {
  outline: none;
}

.preview {
  -webkit-transition: opacity 0.5s ease-out, transform 0.3s ease-out;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
  transition: opacity 0.5s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  text-transform: uppercase;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.show {
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 1;
}

.preview__details {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.preview__hex,
.preview__rgb {
  padding: 0.2em 0;
}

.colour-add {
  opacity: 0;
  margin: 2.5rem 2.5rem 0;
  text-align: left;
  width: 120px;
  background: none;
  border: dashed var(--contentBackgroundColour) 1.5px;
  color: var(--contentBackgroundColour);
  font-size: 5rem;
  text-align: center;
  height: 205px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.colour-add:hover {
  color: var(--textColour);
  border: dashed 1.5px var(--textColour);
}

.colour-list:hover .colour-add {
  opacity: 1;
}
